.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /
}

p-card {
  width: 300px; /* Ancho del card */
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* auth.component.css */
button {
  margin-top: 10px; /* Espacio superior para el botón */
  width: 45%;
}
