<div class="festival-list-container">
  <h1 class="title">Proximos Festivales</h1>
  <div *ngIf="festivals.length > 0; else noFestivals">
    <div class="festival-card" *ngFor="let festival of festivals">
      <div class="festival-header">
        <h2>{{festival.nombre}}</h2>
        <span>{{festival.fecha | date: 'longDate'}}</span>
      </div>
      <div class="festival-details">
        <p><strong>Location:</strong> {{festival.lugar}}</p>
        <p><strong>Artists:</strong></p>
        <ul>
          <li *ngFor="let artista of festival.artistas">
            {{artista.nombre}}  <!-- Aquí mostramos el nombre de cada artista -->
          </li>
        </ul>      </div>
    </div>
  </div>
  <ng-template #noFestivals>
    <p class="no-festivals">No hay festivales.</p>
  </ng-template>
</div>
