<div class="p-grid">
  <div class="p-col-6 p-md-4" *ngFor="let festival of festivals">
    <p-card [style]="{ width: '360px' }">
      <ng-template pTemplate="header">
        <h2>{{ festival.nombre }}</h2>
      </ng-template>
      <div class="festival-details">
        <div class="detail">
          <h3 class="element-title">Fecha:</h3>
          <div class="extra-details">{{ festival.fecha }}</div>
        </div>
        <div class="detail">
          <h3 class="element-title">Ubicación:</h3>
          <div class="extra-details">{{ festival.lugar }}</div>
        </div>
      </div>
      <h3 class="artist-title center-title">Artistas:</h3>
      <div class="p-artistas">
        <ul>
          <li *ngFor="let artista of festival.artistas">{{ artista.nombre }}</li>
        </ul>
      </div>
    </p-card>
  </div>
</div>
